extends layout
block content
  body
    .navbar
      a(href='/home' id = 'Home') Jio
      a(href='/files/JioCalderonResume.pdf' id = 'Resume') Resume
      a(href='/about' id = 'About') About
      a(href='/login' id = 'Login') Login
      a(href='/blog' id = 'Blog') Blog
      a(href='https://github.com/J10calderon' id = 'Github') Github
      a(href='https://www.linkedin.com/in/jio-calderon-2782b8156/' id = 'Linkedin') LinkedIn
    img.burrpic(src="/images/burr_4.jpg")
    h1 About me
    p.
     I'm a recent grad from berkeley, and I majored in computer science there.<br />
     My interests are tennis, cooking and Dota 2.<br />
     Other than that I'm a huge fan of Kei Nishikori.<br />
     This is my personal website. I'll be stashing my projects and random stuff here.

