extends layout
block content
    .navbar
      a(href='/home' id = 'Home') Home
      a(href='/login' id = 'Login') Login
      a(href='/files/JioCalderonResume.pdf' id = 'Resume') Resume
      a(href='/about' id = 'About') About
      a(href='/blog' id = 'Blog') Blog
      a(href='https://github.com/J10calderon' id = 'Github') Github
      a(href='https://www.linkedin.com/in/jio-calderon-2782b8156/' id = 'Linkedin') LinkedIn


    h2 Delete all posts

    form(name="delpost", method="post", action = "/edit/delete")
        div.actions
            input(type="submit", text = "delete")

    h2 Make a post
    form(name="makepost", method="post", action = "/edit")
        div.input
            textarea(type="body", name="title", cols="40", rows="1", placeholder="Title")
        div.input
            textarea(type="body", name="user", cols="40", rows="1", placeholder="User")
        div.input
            textarea(name="body", cols="40", rows="5", placeholder="Body")
        div.actions
            input(type="submit")



    - each message in flash
      h4(style="color: orange;") #{message}
